{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="content-section myform" style = "box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding:20px;">
                    <form method="POST" enctype="multipart/form-data" style = "font-family:Gotham Pro;">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn mt-3 mb-2 btn-outline-danger" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>


        </div>

       
    </div>
{% endblock %}