{% extends "base.html" %}

{% load static %}
{% block content %}


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/ownerDashboard.css' %}">
  <title>AdminDash</title>
</head>
<body>

     <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">WeConnect</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
     
    </ul>
  </section>
  <!--  SIDEBAR -->
  
  <!-- CONTENT -->
  <section id="content">
   
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="#">Home</a>
            </li>
          </ul>
        </div>
        <a href="{% url 'new-hotel' %}" class="btn-download">
          <i class='bx bxs-cloud-download' ></i>
          <span class="text">Add Hotel</span>
        </a>
      </div>
      <!-- <i class='bx bx-plus' ></i> -->
      <ul class="box-info">
       {% if hotels %}
       {% for hotel in hotels%}
       <li> 
        <img src="{{hotel.cover_image.url}}" class='bx bxs-calendar-check' ></i>
        <span class="text">
          <h3>{{hotel.hotel_name}}</h3>
         <a href="{% url 'newRoom' hotel.pk %}">
          Add room
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
         </a>
          
        </span>
      </li>
      {% endfor %}
       {% else %}
       <li>
        <span class="text">
          <h3>You haven't added hotels</h3>          
        </span>
      </li>
       {% endif %}
      </ul>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Reservations </h3>
            <!-- <i class='bx bx-filter' ></i> -->
            <p>Current Guest Count: {{bookings | length}}</p>

          </div>
          <table>
            <thead>
              <tr>
                <!-- <th>Guests</th> -->
                <th>Date Reserved</th>
                <th>Time Reserved</th>
                <th>Room</th>
                <th>Amount</th>
                <th>Hotel</th>
              </tr>
            </thead>
            <tbody>
             {% if bookings %}
              <!-- Guests loop -->
              {% for booking in bookings %}
              <tr>
                <!-- <td>
                  <p>{{booking.user.userBookings}}</p>
                </td> -->
                <td>{{booking.date|date}}</td>
                <td>{{booking.date|time}}</td>
                <td>{{booking.amount}}</td>
                <td>{{booking.amount.rate}}</td>
                <td><span class="status completed">{{booking.hotel}}</span></td>
              </tr>
              {% endfor %}
              <!--Get Total booking amount-->
              <!-- <tr>
                <td>
                  Sub-Total 
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="status completed"></span></td>

              </tr> -->
              <!--End Total Booking amount-->
              <!-- end guests loop -->
             {% else %}
             {% endif %}
            </tbody>
          </table>
        </div>
        <div class="todo">
          <div class="head">
            <h3>Rooms & Suites</h3>
            <!-- <i class='bx bx-plus' ></i>
            <i class='bx bx-filter' ></i> -->
          </div>
          <ul class="todo-list">
            <!-- loop rooms -->
            {% if rooms %}
            {% for room in rooms %}
            <li class="completed">
              <p>{{room.name}}</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            {% endfor %}
            {% else %}
            <li class="completed">
              <p>You haven't added rooms yet...</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
  </body>
</html>

{% endblock content %}