{% extends "base.html" %}

{% load static %}
{% block content %}


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/ownerDashboard.css' %}">
  <title>AdminDash</title>
</head>
<body>

     <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">WeConnect</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href=" ">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">My Profile</span>
        </a>
      </li>
      <li>
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!--  SIDEBAR -->
  
  <!-- CONTENT -->
  <section id="content">
   
    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="#">Home</a>
            </li>
          </ul>
        </div>
        <a href="{% url 'new-hotel' %}" class="btn-download">
          <i class='bx bxs-cloud-download' ></i>
          <span class="text">Add Hotel</span>
        </a>
      </div>
      <ul class="box-info">
        <li>
          <img src="/images/hotel.jpg" class='bx bxs-calendar-check' ></i>
          <span class="text">
            <h3>Bon Hotel</h3>
            <p>Booked</p>
            <p>50 guests</p>
          </span>
        </li>
        <li>
          <img src="/images/str.png" class='bx bxs-group' ></i>
          <span class="text">
            <h3>Serena Hotel</h3>
            <p>Booked</p>
            <p>50 guests</p>
          </span>
        </li>
        <li>
          <img src="/images/sr.png" class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>Hilton Hotel</h3>
            <p>Booked</p>
            <p>50 guests</p>
            <p></p>
          </span>
        </li>
      </ul>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Reservations</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date Reserved</th>
                <th>Hotel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="">
                  <p>John Doe</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status completed">Bon Hotel</span></td>
              </tr>
              <tr>
                <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status pending">Bon Hotel</span></td>
              </tr>
              <tr>
                <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status process">Serena Hotel</span></td>
              </tr>
              <tr>
                <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status pending">Serena Hotel</span></td>
              </tr>
              <tr>
                <td>
                  <img src="img/people.png">
                  <p>John Doe</p>
                </td>
                <td>01-10-2021</td>
                <td><span class="status completed">Serena Hotel</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="todo">
          <div class="head">
            <h3>Rooms & Suites</h3>
            <i class='bx bx-plus' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <ul class="todo-list">
            <li class="completed">
              <p>Standard Room</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            <li class="completed">
              <p>Standard Twin Room</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            <li class="not-completed">
              <p>Standard View Room</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            <li class="completed">
              <p>Deluxe Room </p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
            <li class="not-completed">
              <p>Luxury Queen Room</p>
              <i class='bx bx-dots-vertical-rounded' ></i>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
  </body>
</html>

{% endblock content %}